html { 
  background: url(images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
}

#text {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-size: 75px;
  color: white;
  text-shadow: 0.5px 0.5px white, 0px 0px 100px black, 0px 0px 100px black;
  text-align: center;
}

.description {
  max-width: 600px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  margin-top: -50px;
  text-shadow: 0.75px 0.75px black;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
	margin: 64px auto;
  width: 94%;
  max-width: 640px;
	text-align: center;
}

.button {
	display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #aaa;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
  line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}

.button:hover {
	opacity: 0.85;
}

.button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
	outline: thin dotted #444;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.button_discord {
	background-color: #7289da;
}
